<div class="alert alert-block alert-info">

# 07_Lecture - Grouping Elements in a DataFrame
</div>

In [1]:
import numpy as np
import pandas as pd
import os

<li><font color=darkblue> We will use the file <font color=red>ratings.csv</font> for this lecture also</font> </li>
<li><font color=darkblue> There are four columns in this dataset - userId | movieId | rating | timestamp</font> </li>
<li><font color=darkblue> Timestamp column is seconds since UTC Jan 1, 1970 + seconds (Unix epoch start). We will convert this to a normal datetime. </font> </li>

In [2]:
# Import
ratings_df = pd.read_csv(str(os.getcwd())+'/ratings.csv')
# Convert epoch to datetime
ratings_df['timestamp'] = pd.to_datetime(ratings_df['timestamp'].astype(int), unit='s')
ratings_df

        userId  movieId  rating           timestamp
0            1        1     4.0 2000-07-30 18:45:03
1            1        3     4.0 2000-07-30 18:20:47
2            1        6     4.0 2000-07-30 18:37:04
3            1       47     5.0 2000-07-30 19:03:35
4            1       50     5.0 2000-07-30 18:48:51
...        ...      ...     ...                 ...
100831     610   166534     4.0 2017-05-03 21:53:22
100832     610   168248     5.0 2017-05-03 22:21:31
100833     610   168250     5.0 2017-05-08 19:50:47
100834     610   168252     5.0 2017-05-03 21:19:12
100835     610   170875     3.0 2017-05-03 21:20:15

[100836 rows x 4 columns]

<hr style="height:2px; border-width:0; color:pink; background-color:pink">

## Conditional Expressions

<font color=darkblue> Let's create a column 'rating_category'
<li> 'Good' if rating >= 3 </li>
<li> 'Not Good' if rating < 3 </li>
</font>

In [3]:
# Option 1:
ratings_df['rating_category'] = ['Good' if each >= 3 else 'Not Good' for each in ratings_df['rating']]
ratings_df.sample(10,random_state=25)

       userId  movieId  rating           timestamp rating_category
14040      89   164200     4.5 2018-03-07 07:47:07            Good
66493     428     2334     2.0 2005-03-22 20:31:34        Not Good
84989     552     1923     4.0 2005-03-22 06:28:50            Good
60722     391     3783     4.0 2002-09-18 22:36:34            Good
67648     438      527     4.5 2005-01-13 20:55:40            Good
32125     220     2115     4.0 2008-12-23 19:45:48            Good
13434      86     2959     3.5 2012-08-04 12:22:38            Good
23967     166     3681     4.0 2007-09-26 17:11:57            Good
59514     387     1722     2.5 2004-09-13 02:00:18        Not Good
5445       38      585     3.0 1996-08-29 17:59:30            Good

In [4]:
# Option 2:
ratings_df['rating_category'] = ratings_df['rating'].apply(lambda x: 'Good' if x >= 3 else 'Not Good')
ratings_df.sample(10,random_state=25)

       userId  movieId  rating           timestamp rating_category
14040      89   164200     4.5 2018-03-07 07:47:07            Good
66493     428     2334     2.0 2005-03-22 20:31:34        Not Good
84989     552     1923     4.0 2005-03-22 06:28:50            Good
60722     391     3783     4.0 2002-09-18 22:36:34            Good
67648     438      527     4.5 2005-01-13 20:55:40            Good
32125     220     2115     4.0 2008-12-23 19:45:48            Good
13434      86     2959     3.5 2012-08-04 12:22:38            Good
23967     166     3681     4.0 2007-09-26 17:11:57            Good
59514     387     1722     2.5 2004-09-13 02:00:18        Not Good
5445       38      585     3.0 1996-08-29 17:59:30            Good

In [5]:
# Option 3:
ratings_df['rating_category'] = np.where(ratings_df['rating'] >= 3, 'Good','Not Good')
ratings_df.sample(10,random_state=25)

       userId  movieId  rating           timestamp rating_category
14040      89   164200     4.5 2018-03-07 07:47:07            Good
66493     428     2334     2.0 2005-03-22 20:31:34        Not Good
84989     552     1923     4.0 2005-03-22 06:28:50            Good
60722     391     3783     4.0 2002-09-18 22:36:34            Good
67648     438      527     4.5 2005-01-13 20:55:40            Good
32125     220     2115     4.0 2008-12-23 19:45:48            Good
13434      86     2959     3.5 2012-08-04 12:22:38            Good
23967     166     3681     4.0 2007-09-26 17:11:57            Good
59514     387     1722     2.5 2004-09-13 02:00:18        Not Good
5445       38      585     3.0 1996-08-29 17:59:30            Good

<font color=darkblue> Let's create another column 'century' using column 'timestamp'
<li> '20th' if timestamp is from 1900s </li>
<li> '21st' if timestamp is from 2000s</li>
    </font>

In [6]:
ratings_df['century'] = np.where(ratings_df['timestamp'].dt.year < 2000, '20th','21st')
ratings_df.sample(10,random_state=25)

       userId  movieId  rating           timestamp rating_category century
14040      89   164200     4.5 2018-03-07 07:47:07            Good    21st
66493     428     2334     2.0 2005-03-22 20:31:34        Not Good    21st
84989     552     1923     4.0 2005-03-22 06:28:50            Good    21st
60722     391     3783     4.0 2002-09-18 22:36:34            Good    21st
67648     438      527     4.5 2005-01-13 20:55:40            Good    21st
32125     220     2115     4.0 2008-12-23 19:45:48            Good    21st
13434      86     2959     3.5 2012-08-04 12:22:38            Good    21st
23967     166     3681     4.0 2007-09-26 17:11:57            Good    21st
59514     387     1722     2.5 2004-09-13 02:00:18        Not Good    21st
5445       38      585     3.0 1996-08-29 17:59:30            Good    20th

<font color=darkblue> Let's size Modern & Classic hits using 'rating_category' and 'century'
<li> 'Good' and '21st' = 'Modern hit'  </li>
<li> 'Good' and '20th' = 'Classic hit' </li>
<li> Every other type will be categorized as 'Not a hit'   
</font>

In [7]:
# Option 1:
modern_hits  = ratings_df[(ratings_df['rating_category'] == 'Good') & (ratings_df['century'] == '21st')]
classic_hits = ratings_df[(ratings_df['rating_category'] == 'Good') & (ratings_df['century'] == '20th')]
not_hit = ratings_df[ratings_df['rating_category'] != 'Good']

In [8]:
modern_hits.sample(2,random_state=25)

       userId  movieId  rating           timestamp rating_category century
45555     301      587     3.5 2008-05-21 13:58:49            Good    21st
12562      80     3275     5.0 2013-08-24 01:45:10            Good    21st

In [9]:
classic_hits.sample(2,random_state=25)

       userId  movieId  rating           timestamp rating_category century
13354      84     1346     3.0 1997-04-07 07:38:11            Good    20th
22256     149     1356     4.0 1998-08-02 19:07:54            Good    20th

In [10]:
not_hit.sample(2,random_state=25)

       userId  movieId  rating           timestamp rating_category century
68318     442      468     1.5 2012-03-12 13:55:38        Not Good    21st
59563     387     2082     1.0 2004-09-13 23:52:26        Not Good    21st

In [11]:
# Option 2:
criterion = [(ratings_df['rating_category']=='Good') & (ratings_df['century']=='21st'),
             (ratings_df['rating_category']=='Good') & (ratings_df['century']=='20th')]
values = ['Modern hit','Classic hit'] # should be in the order of the criterion

ratings_df['hits_category'] = np.select(criterion,values,'Not a hit') # np.select(conditions,correspondig_values,default_value)
ratings_df.sample(10,random_state=25)

,userId,movieId,rating,timestamp,rating_category,century,hits_category
14040,89,164200,4.5,2018-03-07 07:47:07,Good,21st,Modern hit
66493,428,2334,2.0,2005-03-22 20:31:34,Not Good,21st,Not a hit
84989,552,1923,4.0,2005-03-22 06:28:50,Good,21st,Modern hit
60722,391,3783,4.0,2002-09-18 22:36:34,Good,21st,Modern hit
67648,438,527,4.5,2005-01-13 20:55:40,Good,21st,Modern hit
32125,220,2115,4.0,2008-12-23 19:45:48,Good,21st,Modern hit
13434,86,2959,3.5,2012-08-04 12:22:38,Good,21st,Modern hit
23967,166,3681,4.0,2007-09-26 17:11:57,Good,21st,Modern hit
59514,387,1722,2.5,2004-09-13 02:00:18,Not Good,21st,Not a hit
5445,38,585,3.0,1996-08-29 17:59:30,Good,20th,Classic hit

<hr style="height:2px; border-width:0; color:pink; background-color:pink">

## <font color=darkblue> Grouping in Pandas </font>

<font color=darkblue> Useful for grouping rows, but more commonly used for performing numerical operations on columns based on some criteria
    </font>

In [12]:
ratings_df["hits_category"].nunique()
# We can confirm this column has three categories.

3

In [13]:
# Group rows by categories in "hits_cateogry" column
groups = ratings_df.groupby("hits_category")
groups
# A DatFrameGroupBy object is a grouper - collection of all possible groups

In [14]:
# Let's investigate what a grouper has
for each in groups:
    print(type(each))
    print(len(each))
    print(each)
    break
# So we know it holds groups in a tuple format
# Seems like the original category (basis for grouping) is the key.
# What could the value be?

<class 'tuple'>
2
('Classic hit',        userId  movieId  rating           timestamp rating_category century  \
309         4      162     5.0 1999-12-13 09:49:31            Good    20th
310         4      171     3.0 1999-12-13 09:47:08            Good    20th
313         4      215     5.0 1999-12-13 09:57:58            Good    20th
318         4      260     5.0 1999-12-13 10:00:59            Good    20th
321         4      319     5.0 1999-12-13 09:59:42            Good    20th
...       ...      ...     ...                 ...             ...     ...
99529     609      892     3.0 1996-11-05 19:11:20            Good    20th
99530     609     1056     3.0 1996-11-05 19:11:20            Good    20th
99531     609     1059     3.0 1996-11-05 19:10:54            Good    20th
99532     609     1150     4.0 1996-11-05 19:10:54            Good    20th
99533     609     1161     4.0 1996-11-05 19:11:20            Good    20th

      hits_category
309     Classic hit
310     Classic hit
313     Classic hit
318     Classic hit
321     Classic hit
...             ...
99529   Classic hit
99530   Classic hit
99531   Classic hit
99532   Classic hit
99533   Classic hit

[9706 rows x 7 columns])

In [15]:
for k,each in groups:
    print(k, type(k))
    print(type(each))
    print('*'*10)

# Aha, the value is a DataFrame
'''
Think of a grouper as a collection of dictionaries, where each dictionary has:
key: basis for grouping
value: rows corresponding to the key in a DataFrame format
'''

Classic hit <class 'str'>
<class 'pandas.core.frame.DataFrame'>
**********
Modern hit <class 'str'>
<class 'pandas.core.frame.DataFrame'>
**********
Not a hit <class 'str'>
<class 'pandas.core.frame.DataFrame'>
**********

'\nThink of a grouper as a collection of dictionaries, where each dictionary has:\nkey: basis for grouping\nvalue: rows corresponding to the key in a DataFrame format\n'

In [16]:
# Retrieve a group from the grouper
groups.get_group("Classic hit")

,userId,movieId,rating,timestamp,rating_category,century,hits_category
309,4,162,5.0,1999-12-13 09:49:31,Good,20th,Classic hit
310,4,171,3.0,1999-12-13 09:47:08,Good,20th,Classic hit
313,4,215,5.0,1999-12-13 09:57:58,Good,20th,Classic hit
318,4,260,5.0,1999-12-13 10:00:59,Good,20th,Classic hit
321,4,319,5.0,1999-12-13 09:59:42,Good,20th,Classic hit
...,...,...,...,...,...,...,...
99529,609,892,3.0,1996-11-05 19:11:20,Good,20th,Classic hit
99530,609,1056,3.0,1996-11-05 19:11:20,Good,20th,Classic hit
99531,609,1059,3.0,1996-11-05 19:10:54,Good,20th,Classic hit
99532,609,1150,4.0,1996-11-05 19:10:54,Good,20th,Classic hit
99533,609,1161,4.0,1996-11-05 19:11:20,Good,20th,Classic hit

<font color=darkblue> Any mathematical operation works by default on numeric columns
    </font>

In [17]:
groups.mean() #sum(), max(), min() can also be applied
# Meaningless to perform mean() on userid & movieid

                   userId       movieId    rating
hits_category
Classic hit    300.000309    704.128271  3.856893
Modern hit     325.288216  21625.749129  3.892592
Not a hit      342.594400  20691.899806  1.843417

In [18]:
groups.size() # number of rows for each group

hits_category
Classic hit     9706
Modern hit     72057
Not a hit      19073
dtype: int64

In [19]:
# The agg() method allows different aggregation for every column
aggregations_to_apply = {"userId": "size",
                         "movieId": "count",
                         "rating": "median"
}
groups.agg(aggregations_to_apply)

               userId  movieId  rating
hits_category
Classic hit      9706     9706     4.0
Modern hit      72057    72057     4.0
Not a hit       19073    19073     2.0

In [20]:
# The agg() method allows different aggregation for every column
# General format:
# .agg({'column name': [('output column name', 'transformation to apply')]})

aggregations_to_apply = {"userId":  [("userId_Count", "size")],
                         "movieId": [("movieId_MostRated", lambda x: x.value_counts().index[0])],
                         "rating":  [("rating_median", "median")]
}
x = groups.agg(aggregations_to_apply)

In [21]:
x

                    userId           movieId        rating
              userId_Count movieId_MostRated rating_median
hits_category
Classic hit           9706               457           4.0
Modern hit           72057              2571           4.0
Not a hit            19073               344           2.0

In [22]:
x.columns

MultiIndex([( 'userId',      'userId_Count'),
            ('movieId', 'movieId_MostRated'),
            ( 'rating',     'rating_median')],
           )

In [23]:
# Drop multi-index for columns
x.columns = x.columns.droplevel() # drops the top level
x

               userId_Count  movieId_MostRated  rating_median
hits_category
Classic hit            9706                457            4.0
Modern hit            72057               2571            4.0
Not a hit             19073                344            2.0

In [24]:
# Reset index:
# If the columns have multiple levels, by default labels are inserted into the first level.
x.reset_index(inplace=True) # drops all levels
x

  hits_category  userId_Count  movieId_MostRated  rating_median
0   Classic hit          9706                457            4.0
1    Modern hit         72057               2571            4.0
2     Not a hit         19073                344            2.0

<font color=darkblue> Grouping by multiple columns
    </font>

In [25]:
ratings_df.sample(10,random_state=50)

,userId,movieId,rating,timestamp,rating_category,century,hits_category
94779,599,81591,4.0,2017-06-26 17:50:40,Good,21st,Modern hit
37476,252,2321,5.0,2017-06-24 06:10:58,Good,21st,Modern hit
70729,452,1722,4.0,2002-04-23 17:57:36,Good,21st,Modern hit
1302,11,1552,4.0,1998-08-03 14:27:38,Good,20th,Classic hit
94040,599,5471,1.5,2018-02-22 22:22:07,Not Good,21st,Not a hit
2606,19,1855,2.0,2000-08-08 04:15:32,Not Good,21st,Not a hit
1672,17,111,4.0,2012-01-19 03:20:08,Good,21st,Modern hit
15257,99,165,5.0,1996-04-18 11:46:45,Good,20th,Classic hit
37600,254,2431,4.5,2007-05-29 13:00:39,Good,21st,Modern hit
47345,307,5538,2.0,2007-09-12 14:49:43,Not Good,21st,Not a hit

In [26]:
# Grouping by "rating_category" and "century"
rating_and_century_grouper = ratings_df.groupby(["rating_category","century"])
rating_and_century_grouper.size()

rating_category  century
Good             20th        9706
                 21st       72057
Not Good         20th        1196
                 21st       17877
dtype: int64

In [27]:
# To extract the groups, both tuples (one for each column) need to be passed
rating_and_century_grouper.get_group(("Good","20th"))

,userId,movieId,rating,timestamp,rating_category,century,hits_category
309,4,162,5.0,1999-12-13 09:49:31,Good,20th,Classic hit
310,4,171,3.0,1999-12-13 09:47:08,Good,20th,Classic hit
313,4,215,5.0,1999-12-13 09:57:58,Good,20th,Classic hit
318,4,260,5.0,1999-12-13 10:00:59,Good,20th,Classic hit
321,4,319,5.0,1999-12-13 09:59:42,Good,20th,Classic hit
...,...,...,...,...,...,...,...
99529,609,892,3.0,1996-11-05 19:11:20,Good,20th,Classic hit
99530,609,1056,3.0,1996-11-05 19:11:20,Good,20th,Classic hit
99531,609,1059,3.0,1996-11-05 19:10:54,Good,20th,Classic hit
99532,609,1150,4.0,1996-11-05 19:10:54,Good,20th,Classic hit
99533,609,1161,4.0,1996-11-05 19:11:20,Good,20th,Classic hit

In [28]:
# Aggregation of a specific column
ratings_df.groupby(["rating_category","century"])['rating'].mean()

rating_category  century
Good             20th       3.856893
                 21st       3.892592
Not Good         20th       1.678094
                 21st       1.854478
Name: rating, dtype: float64

In [29]:
# Recap
# .apply()
# np.where()
# .sample()
# np.select(conditions,corresponding values, default value)
# .groupby()
# .get_group()
# .mean()
# .size()
# .agg()
# .droplevel()
# .reset_index()